.masthead-img {
  max-width: 100%;
}

.banner-container {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.home-modal-content {
  max-height: fit-content;
  margin: 25vh 25vw;
  height: fit-content;
}

.home-img {
  width: 50vw;
  height: 50vh;
  background-color: transparent !important;
  background: transparent !important;
}