.session-img-container {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.session-img {
  width: 100%;
  max-height: 50vh;
  max-width: 100%;
}

.highlight-vid {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .highlight-vid {
    height: 315px;
    width: 560px;
  }
}
