.session-img-container {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.session-img {
  max-height: 50vh;
}

.highlight-vid {
  width: 100%;
}

.coming-soon-container {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .highlight-vid {
    height: 315px;
    width: 560px;
  }
}

@media only screen and (max-width: 600px) {
  .session-img {
    max-width: 100%;
    max-height: none;
  }
}
