.session-img-container {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.session-img {
  max-height: 50vh;
}

.highlight-vid {
  width: 100%;
}

.coming-soon-container {
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  max-width: 100%;
}

.slide-img {
  max-height: 50vh;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@media only screen and (min-width: 600px) {
  .highlight-vid {
    height: 315px;
    width: 560px;
  }
}

@media only screen and (max-width: 600px) {
  .session-img {
    max-width: 100%;
    max-height: none;
  }
}
