.bio-image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bio-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  display: block;
}

.bio-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(228, 176, 153);
  color: white;
  padding: 15px;
  overflow-y: auto;
  text-align: left;
}

.bio-content-overlay p {
  font-size: 15px;
  margin-bottom: 10px;
}

.custom-meta {
  padding: 10px !important;
}

@media (max-width: 576px) {
  .bio-image {
    max-height: 350px;
  }
}
