.App {
  text-align: center;
}

.App-header-menu {
  background-color: rgb(228, 176, 153, 0.6);
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #839abf;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: #7f3e19;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: rgb(227, 182, 129, 0.4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h4,
h2 {
  color: #84624a;
}

.App-footer {
  background-color: rgb(228, 176, 153, 0.6);
}

.footer-link, a {
  color: #7f3e19;
}

.footer-link:hover, a:hover {
  color: #839abf
}

@import "~antd/dist/antd.css";
