.App {
  text-align: center;
  font-family: "League Spartan", arial, helvetica, sans-serif;
}

.App-header-menu {
  background-color: rgb(228, 176, 153, 0.6);
}

.banner {
  background-color: #7f3e19;
  padding: 10px;
  text-align: -webkit-center;
}

.banner-quote {
  width: 100%;
}

button {
  border-radius: 5px;
  background-color: rgb(228, 176, 153, 0.6);
}

.banner-citation {
  width: 100%;
}

.banner-container {
  color: rgb(227, 182, 129);
  max-width: 50vw;
  font-size: 14px;
}

.banner-header {
  text-align: left;
  color: rgb(227, 182, 129);
  width: fit-content;
  display: inline-flex;
}

.banner-img {
  max-width: 150px;
  display: inline-flex;
  padding: 5px;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #839abf;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: #7f3e19;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: rgb(227, 182, 129, 0.4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  font-size: calc(10px + 2vmin);
  color: black;
}

.body-img-right {
  float: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h4,
h2 {
  color: #84624a;
  font-family: "League Spartan", arial, helvetica, sans-serif;
}

.App-footer {
  background-color: rgb(228, 176, 153, 0.6);
}

.footer-link,
a {
  color: #7f3e19;
  padding: 5px;
  font-size: 16px;
}

.footer-link:hover,
a:hover {
  color: #839abf;
}

h1 {
  font-size: 34px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-size: 22px;
}

p,
ul,
ol {
  font-size: 16px;
}

@import "~antd/dist/antd.css";
