.card-container {
  position: relative;
}

.image-card {
  width: 70%;
  /* position: absolute; */
  /* height: 75%; */
  /* top: 10%; */
  /* left: 30%; */
  border-color: #839abf;
  border-width: 3px;
  /* overflow: auto; */
  margin-bottom: 60px;
}

.flex-container {
  display: flex;
  position: relative;
  margin-bottom: 40px;
}

@media (min-width: 1440px) {
  .flex-container {
    min-height: 600px;
  }
  .image-card {
    position: absolute;
    top: 20%;
    left: 38%;
    /* height: 60%; */
  }
}

@media (max-width: 1024px) {
  .flex-container {
    min-height: 500px;
  }
  .image-card {
    position: absolute;
    top: 10%;
    left: 33%;
    /* height: 52%; */
  }
  .private-wellnes {
    height: 5%;
  }
}

@media (max-width: 768px) {
  .image-card {
    /* position: absolute; */
    /* top: 10%; */
    /* left: 30%; */
    /* height: auto; */
  }
}

@media (max-width: 480px) {
  .flex-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  .image-card {
    left: 5%;
    width: 100%;
    /* height: auto; */
    /* border-color: rgb(224, 188, 191, 0.5); */
    border-width: 3px;
    /* overflow: visible; */
    position: relative;
    margin: auto;
    margin-bottom: 40px;
  }
}
